<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <!-- ইন্টারনেট ব্যবহারের জন্য -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- অ্যান্ড্রয়েড ১০ বা তার নিচের ভার্সনের জন্য ফাইল রাইট পারমিশন (প্রয়োজন সাপেক্ষে) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />

    <!-- অজানা সোর্স থেকে অ্যাপ ইনস্টল করার পারমিশন (অ্যান্ড্রয়েড ৮+ এর জন্য জরুরি) -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />





    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECDriver">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BusNumberOne"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BusNumberTwo"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BusNumberThree"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BusNumberFour"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BusNumberFive"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path_provider"
                />
        </provider>

    </application>

</manifest>